* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --icc-primary: #2E3F78;
  --icc-primary-dark: #1F2D5A;
  --icc-light: #F4F6FA;
  --icc-white: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--icc-light);
  color: var(--icc-primary-dark);
  margin: 0;
  padding: 0;
  height: 100%;
}
