<app-header></app-header>
<main>
  <ul id="users">
    @for (iteratedUsers of users; track iteratedUsers.id) {
    <li>
      <app-users
        [users]="iteratedUsers"
        [selected]="iteratedUsers.id === userIdSelected"
        (userSelected)="selectedUserId($event)"
      ></app-users>
    </li>
    }
  </ul>
  @if (userIdSelected) {
  <app-tasks [idUser]="userSelected.id" [nameTask]="userSelected.name" />
  } @else {
  <p id="textoCondicional">Seleccione un usuario para ver sus tareas.</p>
  }
</main>
